version: '3.8'

services:
  web:
    build:
      context: ../../
      dockerfile: docker/web/Dockerfile
    container_name: webhid-bojuxi-web
    ports:
      - '8080:80'
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
